<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.webalicioustech.daffodils"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Daffodils test app</name>

    <description>
        A test app.
    </description>

    <author href="https://www.victoria-holland.info" email="victoriaholland1984@gmail.com">
        Victoria Holland 
    </author>

</widget>
